GGI_single
===========
REQUIRED in config:
--------------------
- diffrax_params

other config requirements to check:
-----------------------------------
none

OPTIONAL in config:
-------------------
- lam (GGI lambda)
- mu (GGI mu)
- x (GGI x)
- y (GGI y)


GGI_mixture
===========
REQUIRED in config:
--------------------
- diffrax_params

other config requirements to check:
-----------------------------------
- NEED either k_indel or (lam, mu, x, y)
- need either k_indel or indel_mix_logits

OPTIONAL in config:
-------------------
- lam (GGI lambda)
- mu (GGI mu)
- x (GGI x)
- y (GGI y)
- k_indel


no_indel
=========
REQUIRED in config:
--------------------
none

other config requirements to check:
-----------------------------------
none

OPTIONAL in config:
-------------------
none
