subst_base
===========
REQUIRED in config:
--------------------
- lg_exch_file
- norm
- alphabet_size

other config requirements to check:
-----------------------------------
none

OPTIONAL in config:
-------------------
none


LG_mixture:
============
REQUIRED in config:
--------------------
- lg_exch_file
- norm
- alphabet_size

other config requirements to check:
-----------------------------------
- NEED either susbt_mix_logits OR k_subst
  > if you have both, make sure they agree with each other

OPTIONAL in config:
-------------------
- gmmpa_shape
- subst_mix_logits
- k_subst
